@import "../../styles/mediaQuery";
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Open+Sans&display=swap");

.header {
	position: fixed;
	background: white;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100vw;
	border-bottom: 1px solid rgb(163, 163, 163);
	margin: 0;

	.header-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 54px;
		width: 80vw;
		margin: 0 auto;

		@include mq(mobile) {
			width: 93vw;
			// margin: 0;
		}
		.header-userID-wrapper {
			width: 130px;
			padding-left: 20px;
		}

		.header-userID {
			@include mq(mobile) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.header-userID-span {
				font-size: 20px;
			}
		}
	}

	.header-logo {
		font-family: "Just Another Hand", cursive;
		font-size: 2.2rem;
		cursor: pointer;
	}

	.header-search-box {
		font-size: 1rem;
	}

	.header-icons {
		width: 250px;
		display: flex;
		justify-content: space-around;
	}
}
