@import "../../styles/mediaQuery";

.main {
	width: 100vw;
	margin: 80px 0;
}

.main-wrapper {
	width: 80vw;
	margin: 0 auto;

	@include mq(mobile) {
		width: 100vw;
		margin: 0;
	}
}
