@import "../../styles/mediaQuery";

.main-container {
	width: 100%;
}

.timeline-container {
	width: 75%;

	@include mq(tablet) {
		width: 100%;
	}
}

.users-container {
	position: fixed;
	top: 85px;
	left: 65%;

	@include mq(tablet) {
		display: none;
	}
}

.main-user-wrap {
	margin: 0 auto;
}
